/* 为了在EasyUI中使用FontAwesome字体图标，重写EasyUI各组件的图标基类，
我已经将必要的地方加了!important，所以这个CSS文件和easyui.css的先后顺序就无所谓了。 */

.l-btn-icon,.panel-icon,.menu-icon,.tabs-icon,.tree-icon {
    font-family:FontAwesome;
    font-size:14px !important;
    line-height:normal !important;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color:#6699cc;
    text-align:center;
} 

.tabs-icon {
    font-size:16px !important;
    font-weight:normal;
}
